.cs-addons {
    background: $color-off-white-4;
    padding: ($global-padding * 4) 0;
}

.cs-addons-header {
    margin: 0 0 ($global-padding / 2);
}

.cs-addons-sub-header {
    font-size: 1.125rem;
    margin: 0 0 ($global-padding * 2);
    text-align: center;
}

.cs-addons-item {
    flex: 1;
    margin: 0 $global-padding;
    text-align: center;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        a {
            color: $primary-color-darker;
        }

        .cs-addons-item-icon {
            background: $primary-color-darker;
        }
    }
}

.cs-addons-item-icon {
    background: $addons-item-icon-background;
    border-radius: 4rem;
    height: 8rem;
    transition: background .1s ease-in-out;
    width: 8rem;

    svg {
        fill: $color-white;
        max-width: 40%;
    }
}

.cs-addons-item-header {
    margin: $global-padding 0;
}

.cs-addons-item-content {
    color: $addons-item-content-color;
    margin: 0;
}
