.cs-breadcrumbs {
    margin-bottom: 1rem;
    opacity: .5;

    &:hover {
        opacity: 1;
    }

    li {
        &::after {
            content: '/';
            display: inline-block;
            font-size: 1rem;
            margin: 0 .25rem 0 .375rem;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }
}
