.cs-content-filter {
    background-color: $color-white;
    border: solid .0625rem $color-silver;
    border-radius: .25rem;
    margin: 0 0 0 1.25rem;
    //overflow: hidden;
    position: relative;

    & > ul {
        list-style: none;
        margin: 0;
        padding: 0 1.125rem;

        & > li {
            display: inline-block;
            margin: 0 1.125rem;

            & > a {
                color: $filter-link-color;
                display: block;
                font-size: .875rem;
                line-height: 3.125rem;
                padding: 0;
                text-decoration: none;

                &:hover {
                    color: $filter-link-hover-color;
                }
            }

            &.active {
                border-bottom: .3125rem solid $filter-active-link-border-bottom-color;
            }

            &.search {
                font-size: .875rem;

                input {
                    margin-left: .25rem;
                    min-width: 12rem;
                }

                label {
                    color: $filter-link-color;
                    line-height: 50px;
                }
            }
        }
    }
}

.cs-xlet-search-results-container {
    background-color: $color-white;
    border: solid 1px $color-silver;
    border-radius: .25rem;
    margin-left: 3.625rem;
    margin-top: -.375rem;
    min-width: 12rem;
    position: absolute;
    z-index: 10;

    ul {
        padding-left: 0;

        li {
            display: flex;
            flex-direction: row;
            float: none;
            margin: 0;

            a {
                align-items: center;
                color: $filter-link-color;
                display: flex;
                flex-direction: row;
                padding: .5rem 1rem;
                width: 100%;

                &:hover,
                &.active {
                    color: $filter-link-color;
                }

                img {
                    height: 2rem;
                    margin-right: 1rem;
                    width: 2rem;
                }
            }

            &:hover,
            &.active {
                background-color: $color-gray-4;
                border: 0;
            }
        }
    }
}
