.cs-pagination {
    background-color: $color-white;
    border: solid .0625rem $color-silver;
    border-radius: .25rem;
    margin-left: 1.25rem;
    margin-top: .5rem;
    padding: .625rem;

    li {
        margin-right: .5rem;
    }
}
