h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
}

// h1 {
//     font-size: 2rem;
// }
//
// h2 {
//     font-size: 1.8rem;
// }
//
// h3 {
//     font-size: 1.6rem;
// }
//
// h4 {
//     font-size: 1.4rem;
// }
//
// h5 {
//     font-size: 1.2rem;
// }
//
// h6 {
//     font-size: 1rem;
// }

.cs-category-header {
    color: $spotlight-item-header-color;
    font-size: 1.35rem;
    font-weight: 600;
}
