.cs-inline-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
    }
}

.cs-block-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        margin: .5rem 0 0;
    }
}
