@import 'https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans:300,400,600,700|Roboto:300,400,500,900';

$font-roboto: 'Roboto', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-merriweather: 'Merriweather', serif;
